<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Talking Code</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  </head>
  <body>
<nav>
  <h3>Talking Code</h3>
  <div class="cursor">

  </div>
</nav>
<div class="link-container">
  <a href="/about">About Us</a>
  <a href="/contact">Contact Us</a>
  <a href="/compose">Post an article</a>
  <a href="/sign-up">Sign up for Newsletter</a>
</div>
