<%- include("partials/header"); -%>
<div class="hero-container">
<div class="img-section">
<img src="./code.jpg" alt="binary-code-on-screen">
</div>
<div class="recent-posts">
<h3>Recent Posts</h3>
<div class="post">
  <h3><a href="#">Something about code</a></h3>
  <p>Oct 8, 2020</p>
</div>
</div>
</div>

<%- include("partials/footer"); -%>
